@font-face {
    font-family: 'Sora';
    src: url('/Sora_Complete/Fonts/WEB/fonts/Sora-Variable.woff2') format('woff2'),
        url('/Sora_Complete/Fonts/WEB/fonts/Sora-Variable.woff') format('woff'),
        url('/Sora_Complete/Fonts/WEB/fonts/Sora-Variable.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Sora';
    src: url('/Sora_Complete/Fonts/WEB/fonts/Sora-VariableItalic.woff2') format('woff2'),
        url('/Sora_Complete/Fonts/WEB/fonts/Sora-VariableItalic.woff') format('woff'),
        url('/Sora_Complete/Fonts/WEB/fonts/Sora-VariableItalic.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
    font-style: italic;
}

@font-face {
  font-family: 'Gaegu';
  src: url('/Gaegu/Gaegu-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gaegu';
  src: url('/Gaegu/Gaegu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gaegu';
  src: url('/Gaegu/Gaegu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
